<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletProject1</display-name>
<!--<servlet>
	<servlet-name>initParam</servlet-name>
	<servlet-class>com.ed.test.InitParamServlet</servlet-class>
	<init-param>
		<param-name>id</param-name>
		<param-value>guest</param-value>
	</init-param>
	<init-param>
		<param-name>password</param-name>
		<param-value>1004</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
	<servlet-name>initParam</servlet-name>
	<url-pattern>/initParamTest</url-pattern>
</servlet-mapping>-->
<servlet>
	<servlet-name>test2</servlet-name>
	<jsp-file>/test2.jsp</jsp-file>
	<init-param>
		<param-name>test2Value</param-name>
		<param-value>1234</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>test2</servlet-name>
	<url-pattern>/test2</url-pattern>
</servlet-mapping>
  <context-param>
     <param-name>test3Value</param-name>
     <param-value>5678</param-value>
  </context-param>
</web-app>